<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926191806805-20crio0a71fi14u905nqc9ninoc4sku0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926191806805-20crio0a71fi14u905nqc9ninoc4sku0</string>
	<key>API_KEY</key>
	<string>AIzaSyCFdzV5A8xiFr0FATgMBpbQ0-ac8sZU8vs</string>
	<key>GCM_SENDER_ID</key>
	<string>926191806805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.core2duo.edusol</string>
	<key>PROJECT_ID</key>
	<string>edusol-fbbd4</string>
	<key>STORAGE_BUCKET</key>
	<string>edusol-fbbd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926191806805:ios:77fe9a4ec10d125ee7e7dc</string>
</dict>
</plist>